.generator-container {
	margin-bottom: 30px;
}

.card {
	margin: auto;
	text-align: center;
	width: 20rem;
}

.card-title {
	margin-top: 20px!important;
}

button.btn {
	background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
	border: 0;
	border-radius: 6px;
	box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
	cursor: pointer;
	height: 48px;
	padding: 0 16px;
	transition: box-shadow .15s,transform .15s;
}

button.btn:focus {
	box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }

button.btn:hover {
	box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
	transform: translateY(-2px);
  }

button.btn:active {
	box-shadow: #3c4fe0 0 3px 7px inset;
	transform: translateY(2px);
  }
